.todo-panel {
  display: flex;
  flex-direction: row;
  min-height: 600px;
  width: 95%;
  margin: 30px;
  border: 1px solid black;
  border-radius: 20px;
  overflow: auto;
}
.todo-list {
  flex: none;
  width: 25%;
  padding: 20px;
  background-color: aliceblue;
}

.todo-todos {
  flex: none;
  width: 75%;
  padding: 20px;
  border-left: 1px solid black;
  background-color: lightcyan;
}

.todo-list-panel,
.todo-todos-panel {
  display: flex;
  flex-direction: column;
  min-height: 500px;
}

.todo-list-content,
.todo-todos-content {
  flex: 1;
}

.todo-list-bottom,
.todo-todos-bottom {
  flex: none;
  width: 100%;
}

.todo-list-input {
  width: 100%;
}

.todo-todos-input {
  width: 80%;
}

.todo-list-title:hover {
  cursor: pointer;
  background-color: lightskyblue;
}

.todo-todos-row {
  height: 30px;
}

.todo-todos-title {
  width: 60%;
  display: inline-block;
  background-color: lightgrey;
  padding-left: 5px;
  padding-top: 4px;
  height: 22px;
}

.todo-todos-isCompleted {
  display: inline-block;
  height: 22px;
}

.todo-todos-list-menu {
  display: inline-block;
  padding-left: 5px;
  height: 22px;
}

.todo-todos-button {
  display: inline-block;
  padding-left: 5px;
  height: 22px;
}
